body{
    margin: 0px;
    padding: 0px;
    background: lavender;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* @media (max-width: 768px) {
    article{
        background:blue;
    }
} */
@media (max-width: 576px) {
    article{
        background:red;
    }
    article .article-image{
        width: 100% !important;
    }
    article button {
        display: none;
    }
}
.container1{
    background: white;
}
header{
    max-width: 992px;
    margin:0 auto;
    background: white;
    padding: 10px;
}

#carousel {
    display: flex;
    /* overflow: hidden; */
    padding: 10px;
    margin: 10px;
  }
.slide div {
    background: pink;
    height: 300px;
    width: 100%;
    flex: none;
    border-radius: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

div #prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

div #next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
  
  /* #carousel .slide {
    height: 300px;
    width: 100%;
    flex: none;
    border: 1px solid black;
  }

  #carousel #prev{position:absolute;
    top:30%;
    height:50px;
    cursor:pointer;
    padding:10px;
}

  #carousel #next{
      position:absolute;
      top:30%;
      right:0;
      height:50px; 
      cursor:pointer;
      padding:10px;
    } */

   /* #carousel {
    display: flex;
    overflow: hidden;
  }
  
  #carousel .slide {
    height: 300px;
    width: 100%;
    flex: none;
    border: 1px solid black;
  } */



.container2{
    max-width: 992px;
    margin: 0 auto;
   
}
.container3{
    
    background:white;
   
}
/* .slide-1 {
    background: white;
  }
  
  .slide-2 {
    background: green;
  }
  
  .slide-3 {
    background: blue;
  } */

header ul{
    display: flex;
    justify-content:space-around;
    list-style: none;
    
}

a {
    text-decoration: none;
}

  div{
    box-sizing:border-box;
  }
  .container{
    max-width: 992px;
    margin: 0 auto;
    display:flex;
    flex-wrap:wrap;
    
}
  div .container .list-blog{
    height:300px;
    background:#ddd;
    border: solid 4px #fff;
    width:50%;
    padding: 10px;
    margin: 10px;  
    background: white;
   display: flex;
  }
 /* article {
    width:50%;
    padding: 10px;
    margin: 10px;  
    background: white;
   display: flex;
} */
.article-image {
    /* background-image: linear-gradient(to bottom right, white , deepskyblue); */
    background: deepskyblue;
    height: 100px;
    width:150px;
    margin:5px;
}
.article-text h3{
   margin:0px;
  
}
.article-text {
  margin-left: 15px;
} 


button {
    background: white;
    border: solid 1px aqua;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
footer{
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
    font-family: arial;
}
footer ul{
    
    list-style: none;
    
}
footer ul li{
    padding:5px;
   
}

.f1{
    display: flex;
    
}
.f2{
    margin-right: 100px;
}
.textfooter{
    padding:5px;
    margin-left: 100px;
    margin-top: 10px;
    
    
}