
body{
    margin: 0px;
    padding: 0px;
    background: lavender;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container1{
    background: white;
}
header{
    max-width: 992px;
    margin:0 auto;
    background: white;
    padding: 5px;
}
.container{
    max-width: 992px;
    margin: 0 auto;
   
}
div .slider_wrap {
    position: relative;

}
.slider {
    display: flex;
    overflow: hidden;
    padding: 10px;
    margin: 0 auto;
  }
.slider div {
    background:white;
    height: 200px;
    width: 100%;
    flex: none;
   
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all .3s ease;
   
}

div #prev {
    position: absolute;
    /* absolute tdk berpengaruh dengan elemen yg lainnya */
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

div #next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.container2{
    max-width: 992px;
    margin: 0 auto;
   
}
.container3{
    background:white;
   
}

header ul{
    display: flex;
    justify-content:space-around;
    list-style: none;
    font-weight: bold;   
}

a {
    text-decoration: none;
    color:black;
}

  div{
    box-sizing:border-box;
  }
  .list-blog{
   
    display:flex;
    flex-wrap:wrap;
    
}
div .list-blog .blog-item{
    height:150px;
    background:#ddd;
    border: solid 8px lavender;
    width:50%;
    background: white;
   display: flex;
   padding:5px;
  }

.article-image {
   
    background: deepskyblue;
    height: 100px;
    width:150px;
    margin:15px;
}
.article-text h3{
   margin:5px;
  
}
.article-text {
  margin-left: 15px;
} 


button {
    background: white;
    border: solid 1px aqua;
    font-weight: bold;
    border-radius: 5px;
    
    cursor: pointer;
    padding: 10px;
}
footer{
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-weight:bold;
    
}
footer ul{
    
    list-style: none;
    
}
footer ul li{
    padding:5px;
   
}

.f1{
    display: flex;
    
}
.f2{
    margin-right: 10px;
}
.textfooter{
    padding:5px;
    margin-left: 30px;
    margin-top: 10px;
    font-weight:bold;
    
}

@media (max-width: 576px) {
    div .list-blog .blog-item{
        width:100%;
    }
}